
<div class="modal-header" id="input">
    <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
        <span>Comprobante Detalle - {{vm.action}}</span>
    </h4>
</div>

<div class="modal-body">
    <div class="form-group">
        <label for="cuentaSelector"> Seleccione una Cuenta: </label><br>
        <select style="width: 70%;" id="cuentaSelector" ng-options="cuenta.id as cuenta.codigo for cuenta in vm.conexionCuenta" ng-model="vm.data.cuentaId"></select>
    </div>
    <div class="form-group">
        <label class="form-control-label">Descripcion</label>
        <input id="descripcion" autofocus class="form-control" type="text" ng-model="vm.data.descripcion" ng-disabled="vm.enabled" />
    </div>
    <div class="form-group">
        <label class="form-control-label">Fecha</label>
        <input type="text" id="fecha" ng-model="vm.data.fecha" ng-disabled="vm.enabled" />
    </div>
    <div class="form-group">
        <label class="form-control-label">Debe</label>
        <input id="total" autofocus class="form-control" type="text" ng-model="vm.data.montoDebe" ng-disabled="vm.enabled" />
    </div>
    <div class="form-group">
        <label class="form-control-label">Haber</label>
        <input id="total" autofocus class="form-control" type="text" ng-model="vm.data.montoHaber" ng-disabled="vm.enabled" />
    </div>
</div>
            
<div class="modal-footer">
    <button type="button" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-hide="vm.hide">
        Guardar
    </button>
    <button type="button" id="cancelDetalle" class="btn btn-default waves-effect" ng-click="vm.cancel()">
        Cancelar
    </button>
</div>
      
<script>
    $(document).ready(function () {
        $('#fecha').bootstrapMaterialDatePicker({
            weekStart: 0, time: false, lang: 'es', format: 'DD/MM/YYYY'
        });
    })
</script>
            
            
      